<!Doctype html>

<html>

  <p>Let's keep in touch!</p>

  <div id="contact-form">
    <form method="post" action="/signup">
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email" required="required">

      <label for="first_name">First name:</label>
      <input type="name" id="name" name="name" required="required">

      <label for="surname">Surname:</label>
      <input type="surname" id="surname" name="surname" required="required">

      <label for="fav_color">Your favorite color:</label>
      <input type="fav_color" id="fav_color" name="fav_color" required="required">

      <input type="submit" value="submit" id="submit-button">
    </form>
  </div>

</html>
